<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all_style.css">
    <link rel="stylesheet" href="../css/about_us.css">
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="../img/logo.png">
            </button>
            <script src="../js/goto_main.js"></script>
        </div>
        <nav class="navigation">
            <a href="../html/network_traffic.html">Сетевой трафик</a>
            <a href="../html/anomalies.html">Аномалии трафика</a>
            <div class="nav_item">
                <a href="#">SVM</a>
                <div class="submenu">
                    <a href="../html/svm_method.html">Метод</a>
                    <a href="../html/svm_actuality.html">Актуальность</a>
                    <a href="../html/svm_applicability.html">Применяемость</a>
                </div>
            </div>
            <a href="../html/svm_go.html">Практика</a>
        </nav>
        <div class="lk">
            <button class="lk_button" id="btn_lk" title="Личный кабинет">
                <img src="../img/lk_user.png">
            </button>
            <script src="../js/goto_lk.js"></script>
        </div>
    </header>
    <main>
        <div class="about_content">
            <div class="about_header">
                <p>Midover</p>
            </div>
            <div class="about_main">
                <p>
                    Всё для людей<br>
                    Это девиз нашей небольшой команды<br>
                    Наш сквад разработчиков, системных аналитиков, проджект мэнеджеров, тим лидов ежедневно старается улучшить наш продукт...<br> 
                    А всё для того, чтобы вы были уверены в безопасности вашей домашней сети
                </p>
            </div>
            <div class="about_footer">
                <button class="footer_button" title="GitHub">
                    <img src="../img/github.webp">
                </button>
                <button class="footer_button" title="Telegram">
                    <img src="../img/tg.png">
                </button>
                <button class="footer_button" title="Gmail">
                    <img src="../img/gmail.webp">
                </button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">All rights reserved</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>