<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/all_style.css">
    <link rel="stylesheet" href="/static/css/about_us.css">
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="/static/img/logo.png">
            </button>
            <script src="/static/js/goto_main.js"></script>
    </header>
    <main>
        <div class="about_content">
            <div class="about_header">
                <p>Midover</p>
            </div>
            <div class="about_main">
                <p>
                    Всё для людей, всё для людского "в нас людского нет"<br>
                    Это девиз нашей небольшой команды<br>
                    Наш сквад разработчиков, системных аналитиков, проджект мэнеджеров, тим лидов ежедневно старается улучшить наш продукт<br> 
                    А всё для того, чтобы вы были уверены в безопасности вашей домашней сети
                </p>
            </div>
            <div class="about_footer">
                <button class="footer_button" title="GitHub">
                    <a href="https://github.com/MidovG/SvmNetwork">
                        <img src="/static/img/github.webp">
                    </a>
                </button>
                <button class="footer_button" title="Telegram">
                    <img src="/static/img/tg.png">
                </button>
                <button class="footer_button" title="Gmail">
                    <a href="https://workspace.google.com/intl/ru/gmail/">
                        <img src="/static/img/gmail.webp">
                    </a>
                </button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">© All rights reserved 2025 Midover</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>