<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all_style.css">
    <link rel="stylesheet" href="../css/anomalies.css">
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="../img/logo.png">
            </button>
            <script src="../js/goto_main.js"></script>
        </div>
        <nav class="navigation">
            <a href="../html/network_traffic.html">Сетевой трафик</a>
            <div class="nav_item">
                <a href="#">SVM</a>
                <div class="submenu">
                    <a href="../html/svm_method.html">Метод</a>
                    <a href="../html/svm_actuality.html">Актуальность</a>
                    <a href="../html/svm_applicability.html">Применяемость</a>
                </div>
            </div>
            <a href="../html/svm_go.html">Практика</a>
            <a href="../html/about_us.html">О нас</a>
        </nav>
        <div class="lk">
            <button class="lk_button" id="btn_lk" title="Личный кабинет">
                <img src="../img/lk_user.png">
            </button>
            <script src="../js/goto_lk.js"></script>
        </div>
    </header>
    <main>
        <div class="card_img"></div>
        <div class="anomalies_content">
            <p>
                Аномалии сетевого трафика — это неожиданные или необычные события в потоке сетевого трафика, которые могут указывать на проблемы безопасности или неисправности в системе. Такие аномалии могут проявляться в форме резких возрастаний объема трафика, странных маршрутов данных или нетипичного поведения пользователей.<br>
                Типы аномалий:<br>

                1. ДDoS атаки: Массовые атаки, направленные на перегрузку сервера, делая его недоступным для пользователей.<br>
                2. Вторжения: Попытки несанкционированного доступа к системе или данным.<br>
                3. Вредоносный трафик: Распространение вирусов, троянов или другого вредоносного ПО через сеть.<br>
                4. Подозрительная активность: Нетипичная активность со стороны пользователей или устройств, которая может указывать на компрометацию.<br>
            </p>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">All rights reserved</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>