<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
<header>
    <div class="logo">
        <button class="logo_button" id="btn_logo">
            <img src="/static/img/logo.png">
        </button>
        <script src="/static/js/goto_main.js"></script>
    </div>
</header>

<div class="profile-container">
    <div class="profile-header">
        <h1>Личный кабинет</h1>
    </div>
    <form class="profile-form" method="POST" action="/save_dat">
        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" value="{{ .First_Name }}">

        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" value="{{ .Last_Name }}">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ .Email }}">

        <div class="button-container">
            <button type="submit" class="save">Сохранить изменения</button>
        </div>
    </form>

    <form method="POST" action="/user_password">
        <div class="button-container">
            <button type="submit" class="save">Обновить пароль</button>
        </div>
    </form>

    <form method="POST" action="/exit">
        <div class="button-container">
            <button type="submit" class="exit">Выйти</button>
        </div>
    </form>
</div>
</body>
</html>