<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Авторизация и Регистрация</title>
  <link rel="stylesheet" href="/static/css/lk.css">
</head>
<body>

  <header>
    <div class="logo">
      <button class="logo_button" id="btn_logo">
        <img src="/static/img/logo.png" alt="Логотип">
      </button>
    </div>
  </header>

  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form method="POST">
        <h2>Регистрация</h2>
        <input type="text" name="name" placeholder="Имя" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Пароль" required />
        <button type="submit">Зарегистрироваться</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form method="POST">
        <h2>Авторизация</h2>
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Пароль" required />
        <button type="submit">Войти</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h2>Добро пожаловать!</h2>
          <p>Уже есть аккаунт? Войдите прямо сейчас.</p>
          <button class="ghost" id="signIn">Войти</button>
        </div>
        <div class="overlay-panel overlay-right">

        <h2>Привет!</h2>
          <p>Новый пользователь? Зарегистрируйтесь сегодня.</p>
          <button class="ghost" id="signUp">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/animation_lk.js"></script>

  <footer>
    <div class="footer_container">
        <div class="my_rights">All rights reserved</div>
        <div class="prod_by">prod by midovg</div>
        <div class="my_mail">m@gmail.com</div>
    </div>  
  </footer>

</body>
</html>
