<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all_style.css">
    <link rel="stylesheet" href="../css/main_page.css">
    <link rel="icon" href="/static/img/logo.png">
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="/static/img/logo.png">
            </button>
            <script src="/static/js/goto_main.js"></script>
        </div>
        <nav class="navigation">
            <a href="/static/html/network_traffic.html">Сетевой трафик</a>
            <a href="/static/html/anomalies.html">Аномалии трафика</a>
            <div class="nav_item">
                <a href="#">SVM</a>
                <div class="submenu">
                    <a href="/static/html/svm_method.html">Метод</a>
                    <a href="/static/html/svm_actuality.html">Актуальность</a>
                    <a href="/static/html/svm_applicability.html">Применяемость</a>
                </div>
            </div>
            <a href="/static/html/svm_go.html">Практика</a>
            <a href="/static/html/about_us.html">О нас</a>
        </nav>
        <div class="lk">
            <button class="lk_button" id="btn_lk" title="Личный кабинет">
                <img src="/static/img/lk_user.png">
            </button>
            <script src="/static/js/goto_lk.js"></script>
        </div>
        <div class="overlay"></div>
    </header>
    <main>
        <div class="card_img"></div>
        <div class="main_content">
            <p>
                Добро пожаловать, на данном сайте вы много узнаете о сетевом трафике, аномалиях, алгоритме машинного обучения и прочем интересном<br>
                Данный сайт подходит как для новичков, так и для тех людей, которые уже хорошо разбиратся в теме анализа сетевого трафика<br>
                Вообще, данный сайт - моя курсовая работа по дисциплине "Веб программирование", но я постарался сделать его максимально удобным в использовании<br>
                Enjoy
            </p>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">All rights reserved</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>