<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/all_style.css">
    <link rel="stylesheet" href="/static/css/network_traffic.css">
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="/static/img/logo.png">
            </button>
            <script src="/static/js/goto_main.js"></script>
        </div>
        <nav class="navigation">
            <a href="/anomalies">Аномалии трафика</a>
            <a href="/about_us">О нас</a>
        </nav>
        <div class="lk">
            <button class="lk_button" id="btn_lk" title="Личный кабинет">
                <img src="/static/img/lk_user.png">
            </button>
            <script src="/static/js/goto_lk.js"></script>
        </div>
    </header>
    <main>
        <div class="network_content_first">
            <p>
                Сетевой трафик — это данные, передаваемые по компьютерным сетям. Он включает в себя пакеты данных, которые могут передаваться как в пределах локальной сети (LAN), так и через глобальные сети (WAN), включая Интернет.<br><br><br>
                Сетевой трафик можно анализировать для оптимизации производительности сети и обеспечения безопасности.
            </p>
        </div>
        <div class="network_content_second">
            <p>
                Сетевой трафик классифицируется по типу данных, таким как HTTP/HTTPS, FTP, VoIP и другие протоколы. Объём и характер трафика могут варьироваться в зависимости от времени суток, типа пользователей и приложений.<br><br>
                Мониторинг сетевого трафика помогает выявлять аномалии, предотвращать утечки данных и атаки, такие как DDoS. Инструменты для анализа сетевого трафика, такие как Wireshark и NetFlow, позволяют администраторам улучшать управление сетью и обеспечивать стабильность и безопасность соединения. Также важно учитывать балансировку нагрузки и управление пропускной способностью для эффективной работы сети.
            </p>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">All rights reserved</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>