<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all_style.css">
    <link rel="stylesheet" href="../css/reviews.css">
    <script src="../js/createRandom.js"></script>
    <script src="../js/captchaPostLinkAndBadWords.js"></script>
    <title>Midover</title>
</head>
<body>
    <header>
        <div class="logo">
            <button class="logo_button" id="btn_logo">
                <img src="../img/logo.png">
            </button>
            <script src="../js/goto_main.js"></script>
        </div>
        <nav class="navigation">
            <a href="../html/anomalies.html">Аномалии трафика</a>
            <div class="nav_item">
                <a href="#">SVM</a>
                <div class="submenu">
                    <a href="../html/svm_method.html">Метод</a>
                    <a href="../html/svm_actuality.html">Актуальность</a>
                    <a href="../html/svm_applicability.html">Применяемость</a>
                </div>
            </div>
            <a href="../html/about_us.html">О нас</a>
        </nav>
        <div class="lk">
            <button class="lk_button" id="btn_lk" title="Личный кабинет">
                <img src="../img/lk_user.png">
            </button>
            <script src="../js/goto_lk.js"></script>
        </div>
    </header>
    <main>
        <div class="input_container">
            <input class="revText" type="text" placeholder="Введите ваш отзыв здесь...">
            <button onclick="onClickPost()">Отправить отзыв</button>
        </div>
        <div class="reviews_area">
            <div>Хороший сайт</div>
            <div>Нормис</div>
            <div>Супер</div>
            <div>Нормально</div>
            <div>Отличный сайт</div>
        </div>
    </main>
    <footer>
        <div class="footer_container">
            <div class="my_rights">All rights reserved</div>
            <div class="prod_by">prod by midovg</div>
            <div class="my_mail">m@gmail.com</div>
        </div>  
    </footer>
</body>
</html>