main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.card_img {
    width: 35%;
    height: 75%;
    background-image: url(../img/main_page.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #0873a1;
    animation: slideInLeft 1s ease-out forwards;
}

.main_content {
    width: 45%;
    height: 75%;
    border-radius: 20px;
    border: 2px solid #0873a1;
    animation: slideInRight 1s ease-out forwards;
}

.main_content p {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50%;
    color:#fff;
    font-size: 25px;
    text-align: center;
}