main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes slideInLeftY {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRightY {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.network_content_first {
    width: 45%;
    height: 75%;
    border-radius: 20px;
    border: 2px solid #0873a1;
    animation: slideInLeftY 1s ease-out forwards;
}

.network_content_first p {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50%;
    color:#000;
    font-size: 25px;
    text-align: center;
}

.network_content_second {
    width: 45%;
    height: 75%;
    border-radius: 20px;
    border: 2px solid #0873a1;
    animation: slideInRightY 1s ease-out forwards;
}

.network_content_second p {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 60%;
    color:#000;
    font-size: 25px;
    text-align: center;
}