main {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 30%;
    /*border-radius: 20px;
    border: 2px solid #0873a1;*/
}

.input_container input {
    width: 90%;
    height: 65%;
    border-radius: 20px;
    border: 2px solid #0873a1;
    font-size: 21px;
    text-align: center;
}

.input_container button {
    width: 150px;
    height: 50px;
    background-color: #e8cd6b;
    border: 2px solid;
    border-radius: 20px;
}

.input_container button:hover {
    background-color: #53d433;
    transition: 0.5s;
}

.reviews_area {
    width: 70%;
    height: 60%;
    overflow-y: auto;
    /*border-radius: 20px;
    border: 2px solid #0873a1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews_area div {
    min-width: 80%;
    min-height: 9%;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #528545;
    border-radius: 11px;
}