main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.python_container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo_input {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.model_inputs {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.first_input {
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #F06271;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.second_input {
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #F06271;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.button_input {
    width: 100;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button_input button {
    background-color: #F06271;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.button_input button:hover {
    background-color: #28A8C4;
    transform: scale(1.1);
    transition: 0.5s;
}

.result_input {
    width: 50%;
    height: 5%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
}